h3, h4 {
	font-family: 'Voltaire';
}

h4 {
	margin: 0;
}

.comment-block {
	position: relative;
	padding: 0 0 0 10em;
}

.comment-author {
	position: absolute;
	left: 0;
	top: 0;
	width: 9em;
	background-color: #eee;
	padding: 0.5em;
}

.comment-text {
	position: relative;
	width: 100%;
	height: 100%;
	border-top: 1px solid #eee;
	padding: 0.5em 0.5em 0.5em 1em;
	margin-bottom: 1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.comment-text p:last-child {
	margin: 0;
}

form {
	position: relative;
	padding: 0 0 0 10.5em;
}

.author-input {
	position: absolute;
	left: 0;
	top: 0;
	font-size: inherit;
	font-family: inherit;
	width: 10em;
	padding: 0.5em;
	margin: 0;
	border: 1px solid #eee;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

textarea {
	font-size: inherit;
	font-family: inherit;
	width: 100%;
	height: 5em;
	padding: 0.5em;
	border: 1px solid #eee;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

input[type="submit"] {
	/*appearance: none;*/
	background-color: #729d34;
	border: none;
	padding: 0.5em;
	font-size: inherit;
	font-family: 'Voltaire';
	color: white;
	opacity: 0.5;
	cursor: pointer;
}

input[type="submit"]:hover, input[type="submit"]:focus {
	opacity: 1;
	outline: none;
}