.info {
	position: relative;
	width: 50%;
	float: left;
	line-height: 1.5;
	margin: 0 0 2em 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.info img {
	float: left;
	height: 15em;
	margin: 0 1em 1em 0;
	border: 1px solid #eee;
}

.info h3, .info h4 {
	font-family: Voltaire;
	font-weight: normal;
	margin: 0;
	line-height: 1.5;
}

.info h3 {
	font-size: 2em;
}

.info h4 {
	margin: 0 0 1em 0;
}

.info p {
	font-size: 0.8em;
}


ul {
	width: 50%;
	float: left;
	list-style: none;
	padding: 0 0 0 1em;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

li {
	position: relative;
	float: left;
	width: 16.666%;
	padding: 0.1em 0.3em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}

.thumbnail img {
	width: 100%;
	opacity: 0.2;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.highlighted img, .thumbnail:hover img {
	opacity: 1;
	box-shadow: 0 0 3px 1px rgba(114,157,52,1);
}

.credits {
	position: relative;
	margin: 0 0 0.5em 0;
}

/* clearfix */
.credits:before, .credits:after {
	content: ' ';
	display: table;
}

.credits:after {
	clear: both;
}
/* end clearfix */

.source {
	clear: both;
}

.actor, .director {
	position: relative;
	width: 50%;
	float: left;
	display: block;
	padding: 0.8em 0.5em 0.5em 0.5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1;
}

.actor span, .director span {
	font-size: 1.2em;
	color: #729d34;
	font-family: Voltaire;
	padding: 0 0 0 1.5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1;
}

.actor:hover, .director:hover {
	background-color: #f4f4f4;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.actor span {
	background: url(icons/bond.svg) no-repeat 0 0.1em;
	background-size: 1em 1em;
}

.director span {
	background: url(icons/clapboard.svg) no-repeat 0 0.1em;
	background-size: 1em 1em;
}

.credits-list {
	position: absolute;
	top: 2.5em;
	width: 140%;
	background-color: #f4f4f4;
	padding: 1em;
	color: #353535;
	font-family: 'Baskerville', 'Book Antiqua', 'Georgia';
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.actor .credits-list {
	line-height: 1.5;
	left: 0;
}

.director .credits-list {
	line-height: 1.5;
	right: 0;
}