.console-outer {
	position: relative;
	width: 100%;
	font-family: 'Source Code Pro', monospace;
	font-size: inherit;
	margin: 0 0 2em 0;
	@include border-box;
}

.console {
	padding: 0.5em 5em 0.5em 0.5em;
	background-color: #f9f9f9;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);

	&.error {
		background-color: #f9dddd;
	}

	&:focus {
		outline: none;
		background-color: #f0f0f0;
	}
}


.run {
	position: absolute;
	right: 0.1em;
	bottom: 0.1em;
	background-color: #729d34;
	border-radius: 0.1em;
	color: white;
	padding: 0.4em 0.6em;
	text-align: center;
	cursor: pointer;
	opacity: 0.5;
	@include no-select;
	z-index: 2;

	&:hover {
		opacity: 1;
	}
}