@import "base";

.download-table {
	width: 100%;
	border-spacing: 0;
	margin: 0 0 1em 0;
	padding: 0 1em;

	th {
		text-align: center;
	}

	td {
		border-bottom: 1px solid #f9f9f9;
		width: 25%;
		padding: 1em;
		text-align: center;

		strong {
			display: block;
		}
	}

	.description {
		width: 50%;
		text-align: left;
	}
}

.small-print {
	color: #999;
	font-size: 0.8em;
	text-align: right;
	display: block;
}

.Downloads {
	margin: 0 0 2em 0;

	strong {
		display: block;
	}
}

.DownloadsBlock {
	@include clearfix;
	clear: both;
	border-bottom: 1px solid #f9f9f9;
	padding: 1em 0;
}

.DownloadsBlock_Description {
	width: 100%;
	float: left;
	padding: 0.5em 0;

	@media (min-width: 36em) {
		width: 50%;
	}
}

.DownloadsBlock_Option {
	width: 50%;
	float: left;
	background-color: #f9fcf6;

	@media (min-width: 36em) {
		width: 25%;
	}

	a {
		display: block;
		padding: 1em 0.5em;
		@include border-box;
		text-align: center;
		line-height: 1;
		height: 4em;
	}
}