body.example {
	overflow-y: scroll;

	.header {
		border-bottom: 1px solid #eee;
		@include clearfix;
		margin: 0 0 1em 0;
	}

	h1 {
		font-size: 2em;
		margin: 0 0.5em 0 0;
		float: left;
	}
}

.more-examples {
	float: right;
	display: block;
	margin: 0 0 0.5em 0;
	font-size: 1.4em;
}

.example-container, #info {
	width: 100%;
	max-width: 48em;
	margin: 0 auto;
}

.example-container {
	position: relative;
	margin-bottom: 2em;
}

.example-container:after {
	content: '';
	display: table;
	clear: both;
}

.controls {
	border-bottom: 1px solid #eee;
}

#info .wrapper {
	padding: 2em 0 0 0;
	width: 100%;
	overflow-x: auto;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}

.tab {
	height: 2em;
	padding: 0 1em;
	margin: 0;
	display: inline-block;
	border-bottom: 0 solid #aaa;
	font-family: inherit;
	font-size: inherit;
	color: #ddd;
	cursor: pointer;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: 0.05s border-bottom-width ease-in;
	-moz-transition: 0.05s border-bottom-width ease-in;
	-ms-transition: 0.05s border-bottom-width ease-in;
	-o-transition: 0.05s border-bottom-width ease-in;
	transition: 0.05s border-bottom-width ease-in;
}

.tab:hover {
	border-bottom: 7px solid #aaa;
}

.tab.selected {
	border-bottom: 7px solid rgb(114,157,52);
	color: #333;
}



pre {
	margin: 0 0 1em 0;
	width: 100%;
	color: #444;
	font-family: 'Source Code Pro', monospace;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

pre.language-javascript {
	color: #444;
}

pre .tag { color: rgb(0,0,100); }
pre .attribute { color: rgb(80,80,180); }
pre .value { color: rgb(114,157,52); }
pre .class, pre .id { color: rgb(0,0,100); }

pre .string { color: rgb(114,157,52); }
pre .keyword { color: rgb(0,0,100); }
pre .comment { color: #aaa }

pre.language-javascript .number { color: rgb(150,0,0) }


pre .pln { color: #444; }
pre .pun { color: #888; }
pre .str { color: rgb(114,157,52); }
pre .kwd { color: rgb(0,0,100); }
pre .typ { color: rgb(0,0,100); }
pre .tag { color: rgb(0,0,100); }
pre .atn { color: rgb(80,80,180) }
pre .atv { color: rgb(114,157,52) }
pre .lit { color: rgb(150,0,0) }
pre .com { color: #aaa }

pre.lang-js .pun {
	color: #444;
}

.message {
	background-color: #f9dddd;
	padding: 1em;
	text-align: center;
}