.example-preview-outer {
	position: relative;
	width: 100%;
	float: left;
	padding: 0.5em 0.5em 2em 0.5em;
	@include border-box;

	h3 {
		text-align: center;
		font-family: 'Voltaire';
		font-weight: normal;
		border-bottom: 1px solid #ddd;
		color: #333;
	}

	&:hover {
		text-decoration: none;

		h3 {
			background-color: #666;
			color: white;
		}
	}

	@media (min-width: 32em) {
		width: 50%;
	}

	@media (min-width: 40em) {
		width: 33.333%;
	}

	@media (min-width: 48em) {
		width: 25%;
	}
}

.example-preview-inner {
	position: relative;
	width: 100%;
	height: 0;
	padding: 0 0 56.25% 0;
	border: 1px solid #ddd;
	@include border-box;
}

.example-preview {
	position: absolute;
	width: 100%;
	height: 100%;
	background: white no-repeat 50% 50%;
	background-size: contain;
}