@import "base";

.tutorials-list {
	padding: 0 0 0 2em;

	li {
		display: list-item;
		border-bottom: 1px solid #f9f9f9;
		padding: 0.8em 0;

		a {
			display: block;
			font-weight: bold;
		}
	}

	@media (min-width: 40em) {
		padding: 0 6em;
	}
}