<link rel='ractive' href='./Codemirror.html'>

<div class='inner'>
	<div class='result-container output'>
		<h2>Template + data = UI</h2>

		<p><strong>Try editing the content of these boxes.</strong> When you change the data associated with a template, Ractive updates only those parts of the page that are out of date. Tedious DOM manipulation is a thing of the past.</p>

		<p>Look at the <a href='http://examples.ractivejs.org/'>examples</a> and <a href='http://learn.ractivejs.org'>interactive tutorial</a> to discover how Ractive will make your life as a web developer easier.</p>

		<div class='result'></div>
	</div>

	<div class='input'>
		{{#each demos}}
			<button
				class='{{selected === this ? "selected" : "" }}'
				on-click='select(this)'
			>{{name}}</button>
		{{/each}}

		<Codemirror height='18em' mode='htmlmixed' value='{{template}}'/>
		<Codemirror height='10em' mode='json' value='{{data}}'/>
	</div>


</div>


<script>
	/*global component, Ractive */
	const slide = require( 'ractive-transitions-slide' );
	const fly = require( 'ractive-transitions-fly' );

	component.exports = {
		data: {
			template: null,
			data: null
		},

		onrender () {
			var instance, result, resetting;

			result = this.find( '.result' );
			this.select( this.get( 'demos[0]' ) );

			this.observe({
				template: template => {
					var parsedTemplate, parsedData;

					try {
						parsedTemplate = Ractive.parse( template );
						parsedData = JSON.parse( this.get( 'data' ) );
					} catch ( err ) {
						return;
					}

					if ( instance ) {
						instance.teardown();
					}

					instance = new Ractive({
						el: result,
						template: parsedTemplate,
						data: parsedData,
						transitions: { slide, fly }
					});

					// workaround for https://github.com/ractivejs/ractive/issues/1868
					instance.observe( 'foo', function () {} );

					instance.observe( () => {
						if ( resetting ) {
							return;
						}

						resetting = true;
						this.set( 'data', JSON.stringify( instance.get(), null, '  ' ) );
						resetting = false;
					});
				},
				data: data => {
					var parsedData;

					try {
						parsedData = JSON.parse( data );
					}  catch ( err ) {
						return;
					}

					if ( instance && !resetting ) {
						resetting = true;
						instance.reset( parsedData );
						resetting = false;
					}
				}
			});
		},

		select ( demo ) {
			this.set({
				template: demo.template,
				data: JSON.stringify( demo.data, null, '  ' )
			});
		}
	};
</script>
