{{#months:i}}
	<div class='box'>
		<!-- the donut chart -->
		<donutchart data='{{data}}' selected='{{id}}' delay='{{ i * 50 }}'
			on-select='select'/>

		<!-- the month name -->
		<div class='label'>{{name}}</div>
	</div>
{{/months}}


<!-- {{>donutchart}} -->
<svg viewBox='0 0 100 100'>
	<g transform='translate(50,50)'>
		{{# getSegments( data ) :i}}
			<polygon on-hover='select:{{id}}' class='donut-segment' fill='{{ colors[ id ] }}'
				opacity='{{ !selected ? 1 : ( selected === id ? 1 : 0.2 ) }}'
				points='{{ getSegmentPoints( ., 20, 50, c ) }}'
			>
		{{/ segments }}
	</g>
</svg>
<!-- {{/donutchart}} -->