@import "base";

.block {
	p {
		margin: 0 0 1em 0;
	}

	&:before {
		@include block-header;
	}
}

.output {
	background-color: rgb(250,250,250);
	display: block;
	padding: 0.5em;
	margin: 0 0 1em 0;
	@include clearfix;

	&:before {
		content: 'result';
	}

	img {
		max-width: 100%;
	}
}

// .template:before {
// 	content: 'template';
// }

// .script:before {
// 	content: 'script';
// }