<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Ractive.js | The diamond age of web development</title>

	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>

	<link rel='stylesheet' href='shared.css'>
	<link rel='stylesheet' href='main.css'>

	<!--[if lte IE 8]>
		<script src='lib/respond.min.js'></script>
	<![endif]-->
</head>

<body>

	<%= nav %>

	<header>
		<h1>
			Ractive.js
		</h1>
		<p class='subhead'>The diamond age<br> of web development</p>

		<div class='download'>
			<code><span class='download-tags'>&lt;script src='</span><a href='http://cdn.ractivejs.org/latest/ractive.js'>http://cdn.ractivejs.org/latest/ractive.js</a><span class='download-tags'>&gt;&lt;/script&gt;</span></code>
		</div>
	</header>

	<main>
		<div class='summary'>
			<div class='summary-block'>
				<h2>Live, reactive templating</h2>
				<p>Ractive.js is a template-driven UI library, but unlike other tools that generate inert HTML, it transforms your templates into blueprints for apps that are interactive by default.</p>
			</div>

			<div class='summary-block'>
				<h2>Powerful and extensible</h2>
				<p>Two-way binding, animations, SVG support and more are provided out-of-the-box &ndash; but you can add whatever functionality you need by downloading and creating plugins.</p>
			</div>

			<div class='summary-block'>
				<h2>Optimised for your sanity</h2>
				<p>Other tools force you to learn a new vocabulary and structure your app in a particular way. Ractive works for you, not the other way around &ndash; and it plays well with other libraries.</p>
			</div>
		</div>
	</main>


	<%= main %>

	<%= footer %>

	<script src='js/require.js' data-main='js/main'></script>

</body>
</html>
