@import "colours";

.cta {
	width: 100%;
	padding: 0 0 3em 0;
	margin: 2em 0 2em 0;
	text-align: center;
	border-bottom: 1px solid #eee;

	a {
		display: inline-block;
		margin: 0 auto;
		background-color: $green;
		border-radius: 0.2em;
		color: white;
		cursor: pointer;
		font-size: 1.6em;
		font-weight: bold;
		padding: 0.5em 2em;
	}
}
