@import "colours";

.cta {
	width: 100%;
	padding: 0 0 2em 0;
	margin: 1.5em 0 1.5em 0;
	text-align: center;
	border-bottom: 1px solid #eee;

	a {
		display: inline-block;
		margin: 0 auto;
		background-color: $green;
		border-radius: 0.2em;
		color: white;
		cursor: pointer;
		font-weight: bold;
		padding: 0.5em 2em;
	}
}


@media (min-width: 40em) {
	.cta {
		font-size: 1.2em;
	}
}

@media (min-width: 48em) {
	.cta {
		font-size: 1.4em;
	}
}

@media (min-width: 56em) {
	.cta {
		font-size: 1.6em;
	}
}
