.download {
	background-color: #fcfcfc;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	text-align: center;
	padding: 0.5em;

	code {
		font-size: 1em;
		background-color: transparent;
		border: none;
	}

	.download-tags {
		display: none;
	}
}

.protocol {
	display: none;
}

@media (min-width: 24em) {
	.protocol {
		display: inline;
	}
}

@media (min-width: 38em) {
	.download {
		code {
			font-size: 1em;
		}

		.download-tags {
			display: inline;
		}
	}
}

@media (min-width: 46em) {
	.download {
		code {
			font-size: 1.2em;
		}
	}
}

@media (min-width: 50em) {
	.download {
		code {
			font-size: 1.4em;
		}
	}
}
