@import "mixins";

.summary-block {
	h2 {
		margin: 0 0 0.5em 0;
		line-height: 1.2;
	}
}


@media (min-width: 40em) {
	.summary {
		margin: 0 -0.5em;
		@include clearfix;
	}

	.summary-block {
		width: 33.333%;
		padding: 0 0.5em;
		float: left;
		@include border-box;

		p {
			margin: 0;
		}
	}
}
